<div class="selects-container">
  <label>
    Select 1:
    <div *ngIf="store.loading1(); else select1">
      <div class="shimmer"></div>
    </div>
    <ng-template #select1>
      <select>
        <option *ngFor="let option of store.options1()" [value]="option">{{ option }}</option>
      </select>
    </ng-template>
  </label>

  <label>
    Select 2:
    <div *ngIf="store.loading2(); else select2">
      <div class="shimmer"></div>
    </div>
    <ng-template #select2>
      <select>
        <option *ngFor="let option of store.options2()" [value]="option">{{ option }}</option>
      </select>
    </ng-template>
  </label>

  <label>
    Select 3:
    <div *ngIf="store.loading3(); else select3">
      <div class="shimmer"></div>
    </div>
    <ng-template #select3>
      <select>
        <option *ngFor="let option of store.options3()" [value]="option">{{ option }}</option>
      </select>
    </ng-template>
  </label>
</div>
